<div class="section landing-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <h2 class="text-center title-login">Cuentanos</h2>
                <form class="contact-form" method="POST">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Nombre</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Nombre" name="customerName">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Apellido</label>
                            <div class="input-group">

                                <input type="text" class="form-control" placeholder="Apellido" name="customerLastName">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Rut</label>
                            <div class="input-group">

                                <input type="text" class="form-control" placeholder="Rut" name="customerRut">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Teléfono</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Telefono" name="customerPhone">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Correo Electrónico</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                </div>
                                <input type="text" class="form-control" placeholder="Correo Electronico"
                                    name="customerEmail">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Estado/Provincia/Region</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                </div>
                                <input type="text" class="form-control" placeholder="Estado/Provincia/Region"
                                    name="country">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Direccion</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                </div>
                                <input type="text" class="form-control" placeholder="Direccion" name="address">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Calle</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                </div>
                                <input type="text" class="form-control" placeholder="Calle" name="street">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Ciudad</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                </div>
                                <input type="text" class="form-control" placeholder="Ciudad" name="city">
                            </div>
                        </div>
                    </div>
                    <label>Mensaje</label>
                    <textarea class="form-control" rows="4" placeholder="¿En que te podemos ayudar?"
                        name="comments"></textarea>
                    <div class="row">
                        <div class="col-md-4 ml-auto mr-auto">
                            <button class="btn btn-danger btn-lg btn-fill" type="submit">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>