<div id="container" class="container">
    <ul id="scene" class="scene">
        <li class="layer" data-depth="1.00"><img src="\assets\img\404-01.png"></li>
        <li class="layer" data-depth="0.60"><img src="\assets\img\shadows-01.png"></li>
        <li class="layer" data-depth="0.20"><img src="\assets\img\monster-01.png"></li>
        <li class="layer" data-depth="0.40"><img src="\assets\img\text-01.png"></li>
        <li class="layer" data-depth="0.10"><img src="\assets\img\monster-eyes-01.png"></li>
    </ul>
    <h1>¡Uy! Error 404 no encontrado.</h1>
    <p>La página que buscabas no existe.<br>
        Creemos que la página puede haberse movido.</p>
</div>