<div class="page-header section-dark" data-parallax="true">
    <video src="./assets/img/video (1).mp4" class="video-background" autoplay loop muted></video>
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div class="title-brand">
                <h1 class="presentation-title">Fast Music</h1>
            </div>
            <h2 class="presentation-subtitle text-center">Encuentra todos los articulos musicales que necesitas</h2>
        </div>
    </div>

    <a class="category category-absolute" href="/contact">
        <h6>Cotiza y Descubre</h6>
    </a>

</div>

<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="title">Cotiza en nuestros locales virtuales</h2>
                    <br>
                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="fas fa-envelope-open-text"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Formulario Web</h4>
                            <p class="description">Utiliza el formulario para mandar una cotización, en unos días sera
                                atendido por unos de nuestros empleados.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="fas fa-globe"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Chat Web</h4>
                            <p>Utiliza el chat web para hablar con uno de nuestros operarios para consultar cotizaciones
                                u otras ayudas.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="fab fa-whatsapp"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Chat WhatsApp</h4>
                            <p>Utiliza nuestro WhatsApp para cotizar o consultar pedidos.</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="card">
                <div class="card-body">
                    <div class="row justify-content-md-center">
                        <div class="col">
                            <h2 class="title">Horarios de atención</h2>
                            <p class="description">
                                Lunes a Viernes | de 09:00 hrs a 14:30 hrs
                            </p>
                            <p class="description">
                                Sabado a Domingo | de 09:00 hrs a 12:00 hrs
                            </p>
                            <br>
                        </div>
                        <div class="col-md-auto" style="border-left: 2px #f5593d solid; padding: 0;"></div>
                        <div class="col">
                            <h2 class=" title">Locales Abiertos</h2>
                            <p class="description">
                                La Florida - Maipú - Quilpue - Concepción
                            </p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="section section-dark text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="margin-top: 50px;">
                    <h2 class="title">Destacados</h2>
                    <hr width="50">
                    <p class="description">
                        Conoce la informacion relevante que <br> hemos preparado para ti
                    </p>
                </div>
                <div class="col-md-6">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="/assets/img/1.jpg" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="/assets/img/2.jpg" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="/assets/img/3.jpg" alt="Third slide">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="section landing-section">
        <div class="container-fluid text-center">
            <h2 class="title">Compra todos los articulos que necesitas<br> con cualquier metodo de pago</h2>
            <img class="pago-img" src="/assets/img/pago.jpg" alt="">
        </div>

    </div>
</div>