body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background: #f9a717;
  color: #666;
  margin: 0; 
}
a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

  font-family: "Open Sans", "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.8;
  color: #d2d6e4;
  font-weight: 400;
  text-align: center;
}
p.subtitle {
  margin-bottom: 3rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #FFFFFF;
  font-family: Montserrat, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
  margin: 0 0 1.5rem 0;
  text-align: center;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: inherit;
}

h1 {
  font-size: 3rem;
}

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto 5%;
  padding: 5%;
  text-align: center;
  color: #fff;
}
.container h1 {
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 2em;
}
.container a.btn {
  border: 3px solid #fff;
  border-radius: 2px;
  padding: 10px 30px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
}
.container a.btn.search {
  border-radius: 0px 2px 2px 0;
}
.container a.btn:hover {
  background-color: #fff;
  color: #d88705;
}
input[type="text"] {
  border: 3px solid #fff;
  border-right: none;
  border-radius: 2px 0 0 2px;
  padding: 10px 30px;
  color: #fff;
  background-color: transparent;
  display: inline-block;
  outline: none;
  font-size: inherit;
  font-family: inherit;
}

footer {
  color: #FFFFFF;
  text-align: center;
  position: absolute;
  z-index: 20;
  padding: 1rem 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
footer ul li {
  position: relative;
  display: inline-block;
  padding: 0;
}
footer ul li::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0.2rem;
  height: 100%;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  border-radius: 1rem;
  background: #735dd1;
}
footer ul li:last-child::after {
  display: none;
}
footer ul li a {
  text-transform: uppercase;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 2rem 0 1.4rem;
}
footer ul li a:hover {
  color: #6249cc;
}
footer ul li a:hover::after {
  opacity: 1;
  -webkit-transform: translateY(0) translateX(-60%);
  -moz-transform: translateY(0) translateX(-60%);
  -ms-transform: translateY(0) translateX(-60%);
  -o-transform: translateY(0) translateX(-60%);
  transform: translateY(0) translateX(-60%);
}
footer ul li a::after {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 40%;
  height: 0.4rem;
  background: rgba(98, 73, 204, 0.4);
  content: '';
  opacity: 0;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  border-radius: 1rem;
  -webkit-transform: translateY(1rem) translateX(-60%);
  -moz-transform: translateY(1rem) translateX(-60%);
  -ms-transform: translateY(1rem) translateX(-60%);
  -o-transform: translateY(1rem) translateX(-60%);
  transform: translateY(1rem) translateX(-60%);
  -webkit-transition: all, 0.3s, ease-in-out;
  -moz-transition: all, 0.3s, ease-in-out;
  transition: all, 0.3s, ease-in-out;
}
footer.light ul li::after {
  width: 0.1rem;
  background: rgba(117, 122, 134, 0.2);
}
footer.light ul li a {
  color: rgba(255, 255, 255, 0.7);
}
footer.light ul li a:hover {
  color: #FFFFFF;
}
footer.light ul li a::after {
  background: rgba(255, 255, 255, 0.3);
}

.scene {
  padding: 0;
  margin: 0;
}


/* DD Bottom Bar */
.dd-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
}
.dd-bar ul {
  padding: 0 4%;
}
.dd-bar ul li {
  display: inline-block;
  padding: 0 10px;
  font-size: 14px;
}
.dd-bar ul li a {
  opacity: 0.6;
}
.dd-bar ul li a:hover {
  opacity: 1;
}

@media only screen and (max-width: 480px), only screen and (max-width: 480px) {
  input[type="text"] {
      width: 50%;
      padding: 10px;
  }

  .container a.btn {
    padding: 10px 20px;
  }

  .container span {
    display: block;
    margin: 10px 0;
  }
  }