<div class="container">
    <div class="row">
        <nav class="footer-nav">
            <ul>
                <li>
                    <a class="nav-link" rel="tooltip" title="Facebook" data-placement="bottom" target="_blank">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                </li>
                <li>
                    <a class="nav-link" rel="tooltip" title="Instagram" data-placement="bottom" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a class="nav-link" rel="tooltip" title="WhatsApp" data-placement="bottom" target="_blank">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="credits ml-auto">
            <span class="copyright">&copy 2020 FastMusic Service. All Rights Reserved.</span>
        </div>
    </div>


</div>