{{#if error_msg}}
<div class="alert alert-danger" role="alert">
    {{error_msg}}
</div>
{{/if}}

{{#if success_msg}}
<div class="alert alert-danger" role="alert">
    {{success_msg}}
</div>
{{/if}}

{{#if delete_msg}}
<script>
    $("#probando").click(function () {
        Swal.fire({
            title: "¿Está seguro?",
            text: "¡No podrás revertir esto!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Sí, ¡bórrelo!",
            cancelButtonText: "No, ¡cancele!",
        }).then((result) => {
            if (result.value) {
                Swal.fire("¡Borrado!", "El producto ha sido borrado.", "success");
            }
        });
    });
</script>
{{/if}}