<nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="300">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" rel="tooltip" title="FastMusic Service" data-placement="bottom" target="_blank">
                FastMusic Service
            </a>
            <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Buscar" data-placement="bottom" target="_blank">
                        <i class="fas fa-search"></i>
                        <p class="d-lg-none">Buscar</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Login" data-placement="bottom" href="/users/signin">
                        <i class="fas fa-user"></i>
                        <p class="d-lg-none">Login</p>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>