<nav class="pcoded-navbar">
    <div class="pcoded-inner-navbar main-menu">
        <div class="pcoded-navigatio-lavel">Navegación</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="pcoded-hasmenu active pcoded-trigger">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                    <span class="pcoded-mtext">Inicio</span>
                </a>
                <ul class="pcoded-submenu">
                    <li class="active">
                        <a href="/admin/dashboard">
                            <span class="pcoded-mtext">Resumen</span>
                        </a>
                    </li>
                    <li class="!#">
                        <a href="">
                            <span class="pcoded-mtext">Análisis</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="feather icon-shopping-cart"></i></span>
                    <span class="pcoded-mtext">Ventas</span>
                </a>
                <ul class="pcoded-submenu">
                    <li class="">
                        <a href="/admin/dashboard/order">
                            <span class="pcoded-micon"><i class="feather icon-basket"></i></span>
                            <span class="pcoded-mtext">Pedidos</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="navbar-light.htm">
                            <span class="pcoded-micon"><i class="feather icon-basket"></i></span>
                            <span class="pcoded-mtext">Pedidos Entregados</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

        <ul class="pcoded-item pcoded-left-item">
            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="feather icon-clipboard"></i></span>
                    <span class="pcoded-mtext">Inventario</span>
                </a>

                <ul class="pcoded-submenu">

                    <li class="">
                        <a href="/admin/dashboard/product">
                            <span class="pcoded-micon"><i class="feather icon-basket"></i></span>
                            <span class="pcoded-mtext">Productos</span>
                        </a>
                    </li>

                </ul>

            </li>
        </ul>
    </div>
</nav>