<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-header start -->
                <div class="page-header">
                    <div class="row align-items-end">
                        <div class="col-lg-8">
                            <div class="page-header-title">
                                <div class="d-inline">
                                    <h4>Pedido #{{order._id}}</h4>
                                    {{#if order.state}}
                                    <span>Estado: Pendiente</span>
                                    {{else}}
                                    <span>Estado: Entregado</span>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="page-header-breadcrumb">
                                <ul class="breadcrumb-title">
                                    <li class="breadcrumb-item">
                                        <a href="index-1.htm"> <i class="feather icon-home"></i> </a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#!">Pedidos</a>
                                    </li>

                                    <li class="breadcrumb-item"><a href="#!">Cliente</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Page-header end -->

                <!-- Page-body start -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- tab header start -->
                            <div class="tab-header card">

                                <ul class="nav nav-tabs md-tabs tab-timeline" role="tablist" id="mytab">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#personal"
                                            role="tab">Informacion</a>
                                        <div class="slide"></div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#binfo" role="tab">Redactar
                                            Cotización</a>
                                        <div class="slide"></div>
                                    </li>
                                </ul>
                            </div>
                            <!-- tab header end -->
                            <!-- tab content start -->
                            <div class="tab-content">
                                <!-- tab panel personal start -->
                                <div class="tab-pane active" id="personal" role="tabpanel">
                                    <!-- personal card start -->
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-header-text">Información del Vendedor</h5>
                                        </div>
                                        <div class="card-block">
                                            <div class="view-info">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="general-info">
                                                            <div class="row">
                                                                <div class="col-lg-12 col-xl-6">
                                                                    <div class="table-responsive">
                                                                        <table class="table">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <th scope="row">Nombre Completo</th>
                                                                                    <td>{{user.name}}
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th scope="row">Rut</th>
                                                                                    <td>{{order.customer.customerRut}}
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                <!-- end of table col-lg-6 -->
                                                                <div class="col-lg-12 col-xl-6">
                                                                    <div class="table-responsive">
                                                                        <table class="table">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <th scope="row">Correo Electrónico
                                                                                    </th>
                                                                                    <td>{{user.email}}
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th scope="row">Numero Telefono</th>
                                                                                    <td>{{order.customer.customerPhone}}
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                <!-- end of table col-lg-6 -->
                                                            </div>
                                                            <!-- end of row -->
                                                        </div>
                                                        <!-- end of general info -->
                                                    </div>
                                                    <!-- end of col-lg-12 -->
                                                </div>
                                                <!-- end of row -->
                                            </div>
                                            <!-- end of view-info -->
                                        </div>
                                        <!-- end of card-block -->
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-header-text">Información del Cliente</h5>
                                        </div>
                                        <div class="card-block">
                                            <div class="view-info">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="general-info">
                                                            <div class="row">
                                                                <div class="col-lg-12 col-xl-6">
                                                                    <div class="table-responsive">
                                                                        <table class="table">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <th scope="row">Nombre Completo</th>
                                                                                    <td>{{order.customer.customerName}}
                                                                                        {{order.customer.customerLastName}}
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th scope="row">Rut</th>
                                                                                    <td>{{order.customer.customerRut}}
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th scope="row">Direccion</th>
                                                                                    <td>{{order.customer.customerAddress.street}}
                                                                                        {{order.customer.customerAddress.address}}

                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                <!-- end of table col-lg-6 -->
                                                                <div class="col-lg-12 col-xl-6">
                                                                    <div class="table-responsive">
                                                                        <table class="table">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <th scope="row">Correo Electrónico
                                                                                    </th>
                                                                                    <td>{{order.customer.customerEmail}}
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th scope="row">Numero Telefono</th>
                                                                                    <td>{{order.customer.customerPhone}}
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th scope="row">Ciudad</th>
                                                                                    <td> {{order.customer.customerAddress.country}},
                                                                                        {{order.customer.customerAddress.city}}
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                <!-- end of table col-lg-6 -->
                                                            </div>
                                                            <!-- end of row -->
                                                        </div>
                                                        <!-- end of general info -->
                                                    </div>
                                                    <!-- end of col-lg-12 -->
                                                </div>
                                                <!-- end of row -->
                                            </div>
                                            <!-- end of view-info -->
                                        </div>
                                        <!-- end of card-block -->
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="card-header-text">Comentarios</h5>
                                                </div>
                                                <div class="card-block user-desc">
                                                    <div class="view-desc">
                                                        <p>{{order.comments}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- personal card end-->
                                </div>
                                <!-- tab pane personal end -->
                                <!-- tab pane info start -->
                                <div class="tab-pane" id="binfo" role="tabpanel">
                                    <!-- info card start -->
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-header-text">User Services</h5>
                                        </div>
                                        <div class="card-block">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="card b-l-success business-info services m-b-20">
                                                        <div class="card-header">
                                                            <div class="service-header">
                                                                <a href="#">
                                                                    <h5 class="card-header-text">Shivani Hero</h5>
                                                                </a>
                                                            </div>
                                                            <span
                                                                class="dropdown-toggle addon-btn text-muted f-right service-btn"
                                                                data-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="true" role="tooltip">
                                                            </span>
                                                            <div
                                                                class="dropdown-menu dropdown-menu-right b-none services-list">
                                                                <a class="dropdown-item" href="#!"><i
                                                                        class="icofont icofont-edit"></i> Edit</a>
                                                                <a class="dropdown-item" href="#!"><i
                                                                        class="icofont icofont-ui-delete"></i>
                                                                    Delete</a>
                                                                <a class="dropdown-item" href="#!"><i
                                                                        class="icofont icofont-eye-alt"></i> View</a>
                                                            </div>
                                                        </div>
                                                        <div class="card-block">
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <p class="task-detail">Lorem ipsum dolor sit amet,
                                                                        consectet ur adipisicing elit, sed do eiusmod
                                                                        temp or incidi dunt ut labore et.Lorem ipsum
                                                                        dolor sit amet, consecte.</p>
                                                                </div>
                                                                <!-- end of col-sm-8 -->
                                                            </div>
                                                            <!-- end of row -->
                                                        </div>
                                                        <!-- end of card-block -->
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="card b-l-danger business-info services">
                                                        <div class="card-header">
                                                            <div class="service-header">
                                                                <a href="#">
                                                                    <h5 class="card-header-text">Dress and Sarees</h5>
                                                                </a>
                                                            </div>
                                                            <span
                                                                class="dropdown-toggle addon-btn text-muted f-right service-btn"
                                                                data-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="true" role="tooltip">
                                                            </span>
                                                            <div
                                                                class="dropdown-menu dropdown-menu-right b-none services-list">
                                                                <a class="dropdown-item" href="#!"><i
                                                                        class="icofont icofont-edit"></i> Edit</a>
                                                                <a class="dropdown-item" href="#!"><i
                                                                        class="icofont icofont-ui-delete"></i>
                                                                    Delete</a>
                                                                <a class="dropdown-item" href="#!"><i
                                                                        class="icofont icofont-eye-alt"></i> View</a>
                                                            </div>
                                                        </div>
                                                        <div class="card-block">
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <p class="task-detail">Lorem ipsum dolor sit amet,
                                                                        consectet ur adipisicing elit, sed do eiusmod
                                                                        temp or incidi dunt ut labore et.Lorem ipsum
                                                                        dolor sit amet, consecte.</p>
                                                                </div>
                                                                <!-- end of col-sm-8 -->
                                                            </div>
                                                            <!-- end of row -->
                                                        </div>
                                                        <!-- end of card-block -->
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="card b-l-info business-info services">
                                                        <div class="card-header">
                                                            <div class="service-header">
                                                                <a href="#">
                                                                    <h5 class="card-header-text">Shivani Auto Port</h5>
                                                                </a>
                                                            </div>
                                                            <span
                                                                class="dropdown-toggle addon-btn text-muted f-right service-btn"
                                                                data-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="true" role="tooltip">
                                                            </span>
                                                            <div
                                                                class="dropdown-menu dropdown-menu-right b-none services-list">
                                                                <a class="dropdown-item" href="#!"><i
                                                                        class="icofont icofont-edit"></i> Edit</a>
                                                                <a class="dropdown-item" href="#!"><i
                                                                        class="icofont icofont-ui-delete"></i>
                                                                    Delete</a>
                                                                <a class="dropdown-item" href="#!"><i
                                                                        class="icofont icofont-eye-alt"></i> View</a>
                                                            </div>
                                                        </div>
                                                        <div class="card-block">
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <p class="task-detail">Lorem ipsum dolor sit amet,
                                                                        consectet ur adipisicing elit, sed do eiusmod
                                                                        temp or incidi dunt ut labore et.Lorem ipsum
                                                                        dolor sit amet, consecte.</p>
                                                                </div>
                                                                <!-- end of col-sm-8 -->
                                                            </div>
                                                            <!-- end of row -->
                                                        </div>
                                                        <!-- end of card-block -->
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="card b-l-warning business-info services">
                                                        <div class="card-header">
                                                            <div class="service-header">
                                                                <a href="#">
                                                                    <h5 class="card-header-text">Hair stylist</h5>
                                                                </a>
                                                            </div>
                                                            <span
                                                                class="dropdown-toggle addon-btn text-muted f-right service-btn"
                                                                data-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="true" role="tooltip">
                                                            </span>
                                                            <div
                                                                class="dropdown-menu dropdown-menu-right b-none services-list">
                                                                <a class="dropdown-item" href="#!"><i
                                                                        class="icofont icofont-edit"></i> Edit</a>
                                                                <a class="dropdown-item" href="#!"><i
                                                                        class="icofont icofont-ui-delete"></i>
                                                                    Delete</a>
                                                                <a class="dropdown-item" href="#!"><i
                                                                        class="icofont icofont-eye-alt"></i> View</a>
                                                            </div>
                                                        </div>
                                                        <div class="card-block">
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <p class="task-detail">Lorem ipsum dolor sit amet,
                                                                        consectet ur adipisicing elit, sed do eiusmod
                                                                        temp or incidi dunt ut labore et.Lorem ipsum
                                                                        dolor sit amet, consecte.</p>
                                                                </div>
                                                                <!-- end of col-sm-8 -->
                                                            </div>
                                                            <!-- end of row -->
                                                        </div>
                                                        <!-- end of card-block -->
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="card b-l-danger business-info services">
                                                        <div class="card-header">
                                                            <div class="service-header">
                                                                <a href="#">
                                                                    <h5 class="card-header-text">BMW India</h5>
                                                                </a>
                                                            </div>
                                                            <span
                                                                class="dropdown-toggle addon-btn text-muted f-right service-btn"
                                                                data-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="true" role="tooltip">
                                                            </span>
                                                            <div
                                                                class="dropdown-menu dropdown-menu-right b-none services-list">
                                                                <a class="dropdown-item" href="#!"><i
                                                                        class="icofont icofont-edit"></i> Edit</a>
                                                                <a class="dropdown-item" href="#!"><i
                                                                        class="icofont icofont-ui-delete"></i>
                                                                    Delete</a>
                                                                <a class="dropdown-item" href="#!"><i
                                                                        class="icofont icofont-eye-alt"></i> View</a>
                                                            </div>
                                                        </div>
                                                        <div class="card-block">
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <p class="task-detail">Lorem ipsum dolor sit amet,
                                                                        consectet ur adipisicing elit, sed do eiusmod
                                                                        temp or incidi dunt ut labore et.Lorem ipsum
                                                                        dolor sit amet, consecte.</p>
                                                                </div>
                                                                <!-- end of col-sm-8 -->
                                                            </div>
                                                            <!-- end of row -->
                                                        </div>
                                                        <!-- end of card-block -->
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="card b-l-success business-info services">
                                                        <div class="card-header">
                                                            <div class="service-header">
                                                                <a href="#">
                                                                    <h5 class="card-header-text">Shivani Hero</h5>
                                                                </a>
                                                            </div>
                                                            <span
                                                                class="dropdown-toggle addon-btn text-muted f-right service-btn"
                                                                data-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="true" role="tooltip">
                                                            </span>
                                                            <div
                                                                class="dropdown-menu dropdown-menu-right b-none services-list">
                                                                <a class="dropdown-item" href="#!"><i
                                                                        class="icofont icofont-edit"></i> Edit</a>
                                                                <a class="dropdown-item" href="#!"><i
                                                                        class="icofont icofont-ui-delete"></i>
                                                                    Delete</a>
                                                                <a class="dropdown-item" href="#!"><i
                                                                        class="icofont icofont-eye-alt"></i> View</a>
                                                            </div>
                                                        </div>
                                                        <div class="card-block">
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <p class="task-detail">Lorem ipsum dolor sit amet,
                                                                        consectet ur adipisicing elit, sed do eiusmod
                                                                        temp or incidi dunt ut labore et.Lorem ipsum
                                                                        dolor sit amet, consecte.</p>
                                                                </div>
                                                                <!-- end of col-sm-8 -->
                                                            </div>
                                                            <!-- end of row -->
                                                        </div>
                                                        <!-- end of card-block -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="card-header-text">Profit</h5>
                                                </div>
                                                <div class="card-block">
                                                    <div id="main" style="height:300px;width: 100%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- info card end -->
                                </div>
                                <!-- tab pane info end -->
                            </div>
                            <!-- tab content end -->
                        </div>
                    </div>
                </div>
                <!-- Page-body end -->
            </div>
        </div>
        <!-- Main body end -->
    </div>
</div>