<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">

                <div class="page-body">
                    <div class="row">
                        <!-- task, page, download counter  start -->
                        <div class="col-xl-4 col-md-6">
                            <div class="card bg-c-yellow update-card">
                                <div class="card-block">
                                    <div class="row align-items-end">
                                        <div class="col-8">
                                            <h4 class="text-white">$30200</h4>
                                            <h6 class="text-white m-b-0">Total de Ventas</h6>
                                        </div>
                                        <div class="col-4 text-right">
                                            <canvas id="update-chart-1" height="50"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <p class="text-white m-b-0"><i
                                            class="feather icon-clock text-white f-14 m-r-10"></i>ultima actualización
                                        : 2:15 am</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="card bg-c-green update-card">
                                <div class="card-block">
                                    <div class="row align-items-end">
                                        <div class="col-8">
                                            <h4 class="text-white">{{orderCount}}</h4>
                                            <h6 class="text-white m-b-0">Pedidos</h6>
                                        </div>
                                        <div class="col-4 text-right">
                                            <canvas id="update-chart-2" height="50"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <p class="text-white m-b-0"><i
                                            class="feather icon-clock text-white f-14 m-r-10"></i>ultima actualización
                                        : {{dateFormat}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="card bg-c-pink update-card">
                                <div class="card-block">
                                    <div class="row align-items-end">
                                        <div class="col-8">
                                            <h4 class="text-white">145</h4>
                                            <h6 class="text-white m-b-0">Pedidos Entregados</h6>
                                        </div>
                                        <div class="col-4 text-right">
                                            <canvas id="update-chart-3" height="50"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <p class="text-white m-b-0"><i
                                            class="feather icon-clock text-white f-14 m-r-10"></i>ultima actualización
                                        : 2:15 am</p>
                                </div>
                            </div>
                        </div>

                        <!-- task, page, download counter  end -->

                        <!--  sale analytics start -->
                        <div class="col-xl-12 col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Análisis de Ventas</h5>
                                    <span class="text-muted">Para más detalles sobre el uso, por favor consulte las
                                        licencias de
                                        <a href="https://www.amcharts.com/online-store/"
                                            target="_blank">amCharts</a></span>
                                    <div class="card-header-right">
                                        <ul class="list-unstyled card-option">
                                            <li><i class="feather icon-maximize full-card"></i></li>
                                            <li><i class="feather icon-minus minimize-card"></i></li>
                                            <li><i class="feather icon-trash-2 close-card"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div id="sales-analytics" style="height: 265px;"></div>
                                </div>
                            </div>
                        </div>

                        <!--  sale analytics end -->
                        <div class="col-xl-8 col-md-12">
                            <div class="card table-card">
                                <div class="card-header">
                                    <h5>Inventario</h5>
                                    <div class="card-header-right">
                                        <ul class="list-unstyled card-option">
                                            <li><i class="feather icon-maximize full-card"></i></li>
                                            <li><i class="feather icon-minus minimize-card"></i></li>
                                            <li><i class="feather icon-trash-2 close-card"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="table-responsive">
                                        <table class="table table-hover  table-borderless">
                                            <thead>
                                                <tr>
                                                    <th>Producto</th>
                                                    <th>Precio</th>
                                                    <th>Stock</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each product}}
                                                <tr>
                                                    <td>
                                                        <div class="d-inline-block align-middle">
                                                            <h6>{{productName}}</h6>
                                                            <p class="text-muted m-b-0">{{description}}</p>
                                                        </div>
                                                    </td>
                                                    <td>${{price}}</td>
                                                    <td class="text-c-blue">{{stock}}</td>
                                                </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                        <div class="text-center">
                                            <a href="#!" class=" b-b-primary text-primary">Ver Todo los Productos</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-12">
                            <div class="card user-activity-card">
                                <div class="card-header">
                                    <h5>Ultimas Conversaciónes</h5>
                                </div>
                                <div class="card-block">
                                    <div class="row m-b-25">
                                        <div class="col-auto p-r-0">
                                            <div class="u-img">
                                                <img src="\assets\img\breadcrumb-bg.jpg" alt="user image"
                                                    class="img-radius cover-img">
                                                <img src="\assets\img\avatar-7.jpg" alt="user image"
                                                    class="img-radius profile-img">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <h6 class="m-b-5">Elena Maria</h6>
                                            <p class="text-muted m-b-0">Hola buenas, quisiera saber si tienen guitarras
                                                ibanez</p>
                                            <p class="text-muted m-b-0"><i class="feather icon-clock m-r-10"></i>2 min
                                                atras</p>
                                        </div>
                                    </div>
                                    <div class="row m-b-25">
                                        <div class="col-auto p-r-0">
                                            <div class="u-img">
                                                <img src="\assets\img\breadcrumb-bg.jpg" alt="user image"
                                                    class="img-radius cover-img">
                                                <img src="\assets\img\avatar-5.jpg" alt="user image"
                                                    class="img-radius profile-img">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <h6 class="m-b-5">Marcos Amado</h6>
                                            <p class="text-muted m-b-0">Buenas tardes, Bajo eléctrico de 5 cuerdas
                                                Ibanez tienen?</p>
                                            <p class="text-muted m-b-0"><i class="feather icon-clock m-r-10"></i>2 min
                                                atras</p>
                                        </div>
                                    </div>
                                    <div class="row m-b-25">
                                        <div class="col-auto p-r-0">
                                            <div class="u-img">
                                                <img src="\assets\img\breadcrumb-bg.jpg" alt="user image"
                                                    class="img-radius cover-img">
                                                <img src="\assets\img\avatar-2.jpg" alt="user image"
                                                    class="img-radius profile-img">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <h6 class="m-b-5">John Deo</h6>
                                            <p class="text-muted m-b-0">Buenas tardes Elena, si tenemos stock de color
                                                negro, saludos.</p>
                                            <p class="text-muted m-b-0"><i class="feather icon-clock m-r-10"></i>2 min
                                                atras</p>
                                        </div>
                                    </div>
                                    <div class="row m-b-5">
                                        <div class="col-auto p-r-0">
                                            <div class="u-img">
                                                <img src="\assets\img\breadcrumb-bg.jpg" alt="user image"
                                                    class="img-radius cover-img">
                                                <img src="\assets\img\avatar-3.jpg" alt="user image"
                                                    class="img-radius profile-img">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <h6 class="m-b-5">Antonio Revolledo</h6>
                                            <p class="text-muted m-b-0">Muchas gracias, les debo enviar el formulario
                                                para el pedido?</p>
                                            <p class="text-muted m-b-0"><i class="feather icon-clock m-r-10"></i>2 min
                                                atras</p>
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <a href="#!" class="b-b-primary text-primary">Ver Todas las conversaciónes</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>