<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-header start -->
                <div class="page-header">
                    <div class="row align-items-end">
                        <div class="col-lg-8">
                            <div class="page-header-title">
                                <div class="d-inline">
                                    <h4>Pedidos</h4>
                                    <span>En este modulo se visualizaran la lista de pedidos</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="page-header-breadcrumb">
                                <ul class="breadcrumb-title">
                                    <li class="breadcrumb-item">
                                        <a href="/admin/dashboard"> <i class="feather icon-home"></i> </a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#!">Pedidos</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Page-header end -->

                <!-- Page body start -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- List view card start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5>Pedidos</h5>

                                </div>
                                <div class="row card-block">
                                    <div class="col-md-12">
                                        <ul class="list-view">
                                            {{#each order}}
                                            <li>
                                                <div class="card list-view-media">
                                                    <div class="card-block">
                                                        <div class="media">
                                                            <div class="media-body">
                                                                <div class="col-xs-12">
                                                                    <h6 class="d-inline-block">
                                                                        {{customer.customerName}}
                                                                        {{customer.customerLastName}}</h6>
                                                                    {{#if state}}
                                                                    <label class="label label-danger">Pendiente</label>
                                                                    {{else}}
                                                                    <label class="label label-info">Entregado</label>
                                                                    {{/if}}
                                                                </div>
                                                                <div class="f-13 text-muted m-b-15">
                                                                    {{customer.customerRut}}
                                                                </div>
                                                                <p>{{comments}}</p>
                                                                <div>
                                                                    <a class="btn btn-primary"
                                                                        href="/admin/dashboard/order/client/{{_id}}"><i
                                                                            class="icofont icofont-eye-alt"></i></a>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>

                                            {{/each}}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- List view card end -->
                        </div>
                    </div>
                    <!-- Add Contact Start Model start-->
                    <div class="md-modal md-effect-13 addcontact" id="modal-13">
                        <div class="md-content">
                            <h3 class="f-26">Añadir un Producto</h3>
                            <form method="POST">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="icofont icofont-guiter"></i></span>
                                    <input type="text" class="form-control pname" placeholder="Nombre del Producto"
                                        name="productName">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="icofont icofont-file-text"></i></span>
                                    <input type="text" class="form-control pname" placeholder="Descripción"
                                        name="description">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="icofont icofont-package"></i></span>
                                    <input type="text" class="form-control pname" placeholder="Categoria"
                                        name="category">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="icofont icofont-price"></i></span>
                                    <input type="text" class="form-control pamount" placeholder="Precio" name="price">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class=""></i></span>
                                    <input type="text" class="form-control pamount" placeholder="Cantidad" name="stock">
                                </div>
                                <div class="text-center">
                                    <button type="submit"
                                        class="btn btn-primary waves-effect m-r-20 f-w-600 d-inline-block save_btn">Guardar</button>
                                    <button type="button"
                                        class="btn btn-primary waves-effect m-r-20 f-w-600 md-close d-inline-block close_btn">Cerrar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="md-overlay"></div>
                    <!-- Add Contact Ends Model end-->
                </div>
                <!-- Page body end -->
            </div>
        </div>
    </div>
</div>