<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-header start -->
                <div class="page-header">
                    <div class="row align-items-end">
                        <div class="col-lg-8">
                            <div class="page-header-title">
                                <div class="d-inline">
                                    <h4>Productos</h4>
                                    <span>En este modulo se visualizaran la lista de productos, en la cual, puedes
                                        eliminar, modificar y añadir productos.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="page-header-breadcrumb">
                                <ul class="breadcrumb-title">
                                    <li class="breadcrumb-item">
                                        <a href="/admin/dashboard"> <i class="feather icon-home"></i> </a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#!">Inventario</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#!">Productos</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Page-header end -->

                <!-- Page body start -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Product list card start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5>Lista de Productos</h5>
                                    <button type="button"
                                        class="btn btn-primary waves-effect waves-light f-right d-inline-block md-trigger"
                                        data-modal="modal-13"> <i class="icofont icofont-plus m-r-5"></i> Añadir un
                                        Producto
                                    </button>
                                </div>
                                <div class="card-block">
                                    <div class="table-responsive">
                                        <div class="table-content">
                                            <div class="project-table">
                                                <table id="order-table"
                                                    class="table table-striped table-bordered nowrap lang-file">
                                                    <thead>
                                                        <tr>
                                                            <!-- <th>Image</th> -->
                                                            <th>Producto</th>
                                                            <th>Precio</th>
                                                            <th>Cantidad</th>
                                                            <th>Acción</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {{#each product}}
                                                        <tr>
                                                            <!-- <td class="pro-list-img"> 
                                                                <img src="..\files\assets\images\product-list\pro-l1.png"
                                                                    class="img-fluid" alt="tbl">
                                                            </td> -->
                                                            <td class="pro-name">
                                                                <h6>{{productName}}</h6>
                                                                <span>{{description}}</span>
                                                            </td>
                                                            <td>${{price}}</td>
                                                            <td>
                                                                <label class="text-success">{{stock}}</label>
                                                            </td>
                                                            <td class="action-icon">
                                                                <form action="">
                                                                    <button type="submit" class="m-r-15 text-muted"><i
                                                                            class="icofont icofont-ui-edit"></i></button>
                                                                </form>
                                                                <form
                                                                    action="/admin/dashboard/product/{{_id}}?_method=DELETE"
                                                                    method="POST">
                                                                    <button type="submit" class="m-r-15 text-muted"><i
                                                                            class="icofont icofont-ui-delete"></i></button>
                                                                </form>
                                                            </td>
                                                        </tr>
                                                        {{/each}}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Product list card end -->
                        </div>
                    </div>
                    <!-- Add Contact Start Model start-->
                    <div class="md-modal md-effect-13 addcontact" id="modal-13">
                        <div class="md-content">
                            <h3 class="f-26">Añadir un Producto</h3>
                            <form class="form-control" method="POST">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="icofont icofont-guiter"></i></span>
                                    <input type="text" class="form-control pname" placeholder="Nombre del Producto"
                                        name="productName">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="icofont icofont-file-text"></i></span>
                                    <input type="text" class="form-control pname" placeholder="Descripción"
                                        name="description">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="icofont icofont-package"></i></span>
                                    <input type="text" class="form-control pname" placeholder="Categoria"
                                        name="category">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="icofont icofont-price"></i></span>
                                    <input type="text" class="form-control pamount" placeholder="Precio" name="price">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class=""></i></span>
                                    <input type="text" class="form-control pamount" placeholder="Cantidad" name="stock">
                                </div>
                                <div class="text-center">
                                    <button id="save" type="submit"
                                        class="btn btn-primary waves-effect m-r-20 f-w-600 d-inline-block save_btn">Guardar</button>
                                    <button type="button"
                                        class="btn btn-primary waves-effect m-r-20 f-w-600 md-close d-inline-block close_btn">Cerrar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="md-overlay"></div>
                    <!-- Add Contact Ends Model end-->
                </div>
                <!-- Page body end -->
            </div>
        </div>
    </div>
</div>