<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>FastMusic Service</title>
  <link rel="shortcut icon" href="/assets/img/logo.ico" type="image/x-icon">

  <!-- Google font-->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
  <!-- Required Fremwork -->
  <link rel="stylesheet" type="text/css" href="\bower_components\bootstrap\css\bootstrap.min.css">
  <!-- Date-time picker css -->
  <link rel="stylesheet" type="text/css" href="\pages\advance-elements\css\bootstrap-datetimepicker.css">
  <!-- Date-range picker css  -->
  <link rel="stylesheet" type="text/css" href="\bower_components\bootstrap-daterangepicker\css\daterangepicker.css">
  <!-- Date-Dropper css -->
  <link rel="stylesheet" type="text/css" href="\bower_components\datedropper\css\datedropper.min.css">
  <!-- Data Table Css -->
  <link rel="stylesheet" type="text/css" href="\bower_components\datatables.net-bs4\css\dataTables.bootstrap4.min.css">
  <link rel="stylesheet" type="text/css"
    href="\bower_components\datatables.net-responsive-bs4\css\responsive.bootstrap4.min.css">
  <!-- feather Awesome -->
  <link rel="stylesheet" type="text/css" href="\icon\feather\css\feather.css">
  <!-- ico font -->
  <link rel="stylesheet" type="text/css" href="\icon\icofont\css\icofont.css">
  <!-- Style.css -->
  <link rel="stylesheet" type="text/css" href="\css\style.css">
  <link rel="stylesheet" type="text/css" href="\css\jquery.mCustomScrollbar.css">
  <!-- animation nifty modal window effects css -->
  <link rel="stylesheet" type="text/css" href="\css\component.css">

</head>

<body>
  <div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
      {{>header.admin}}
      <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
          {{>slidebar.admin}}
          {{>pre-loader}}
          {{{body}}}
        </div>
      </div>
    </div>
  </div>

  <script data-cfasync="false" src="..\..\..\cdn-cgi\scripts\5c5dd728\cloudflare-static\email-decode.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

  <script type="text/javascript" src="/bower_components/popper.js/js/popper.min.js"></script>
  <script type="text/javascript" src="/bower_components/bootstrap/js/bootstrap.min.js"></script>

  <!-- sweet alert js -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <!-- Optional: include a polyfill for ES6 Promises for IE11 -->
  <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
  <script type="text/javascript" src="/js/modal.js"></script>

  <!-- jquery slimscroll js -->
  <script type="text/javascript" src="\bower_components\jquery-slimscroll\js\jquery.slimscroll.js"></script>
  <!-- modernizr js -->
  <script type="text/javascript" src="\bower_components\modernizr\js\modernizr.js"></script>

  <!-- sweet alert modal.js intialize js -->
  <!-- modalEffects js nifty modal window effects -->
  <script type="text/javascript" src="/js/modalEffects.js"></script>
  <script type="text/javascript" src="/js/classie.js"></script>

  <!-- Chart js -->
  <script type="text/javascript" src="\bower_components\chart.js\js\Chart.js"></script>
  <!-- amchart js -->
  <script src="\pages\widget\amchart\amcharts.js"></script>
  <script src="\pages\widget\amchart\serial.js"></script>
  <script src="\pages\widget\amchart\light.js"></script>
  <script src="\js\jquery.mCustomScrollbar.concat.min.js"></script>
  <script type="text/javascript" src="\js\SmoothScroll.js"></script>
  <script src="\js\pcoded.min.js"></script>
  <!-- Bootstrap date-time-picker js -->
  <script type="text/javascript" src="\pages\advance-elements\moment-with-locales.min.js"></script>
  <script type="text/javascript" src="\bower_components\bootstrap-datepicker\js\bootstrap-datepicker.min.js"></script>
  <script type="text/javascript" src="\pages\advance-elements\bootstrap-datetimepicker.min.js"></script>
  <!-- Date-range picker js -->
  <script type="text/javascript" src="\bower_components\bootstrap-daterangepicker\js\daterangepicker.js"></script>
  <!-- Date-dropper js -->
  <script type="text/javascript" src="\bower_components\datedropper\js\datedropper.min.js"></script>

  <!-- product list js -->
  <script type="text/javascript" src="\pages\product-list\product-list.js"></script>

  <!-- ck editor -->
  <script src="\pages\ckeditor\ckeditor.js"></script>
  <!-- echart js -->
  <script src="\pages\chart\echarts\js\echarts-all.js" type="text/javascript"></script>

  <!-- custom js -->
  <script src="\pages\data-table\js\data-table-custom.js"></script>

  <script type="text/javascript" src="\pages\dashboard\custom-dashboard.js"></script>
  <script src="\pages\user-profile.js"></script>

  <script type="text/javascript" src="\js\script.min.js"></script>
  <script src="\js\vartical-layout.min.js"></script>

  {{>messages}}

</body>

</html>