<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>FastMusic Service</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" href="\assets\img\logo.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="\css\error.css">

</head>

<body>
    {{{body}}}

    <footer class="light">
        <ul>
            <li><a href="#">Soporte</a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        </ul>
    </footer>

    <!-- Scripts -->
    <script src="\js\parallax.js"></script>
    <script>
        // Pretty simple huh?
        var scene = document.getElementById('scene');
        var parallax = new Parallax(scene);
    </script>

</body>

</html>