<div class="login-container d-flex align-items-center justify-content-center">

    <form class="login-form text-center" action="/users/signnup" method="POST">
        <h1 class="mb-5 font-weight-light text-uppercase">Registrarse</h1>
        <div class="form-group">
            <input type="text" class="form-control rounded-pill form-control-lg" placeholder="Usuario" name="name"
                value="{{name}}">
        </div>
        <div class="form-group">
            <input type="email" class="form-control rounded-pill form-control-lg" placeholder="Email" name="email">
        </div>
        <div class="form-group">
            <input type="password" class="form-control rounded-pill form-control-lg" placeholder="Contraseña"
                name="password">
        </div>

        <button type="submit"
            class="btn mt-5 btn-primary btn-block text-uppercase rounded-pill btn-lg">Registrarse</button>
    </form>
</div>