<div class="login-container d-flex align-items-center justify-content-center">

    <form class="login-form text-center" action="/users/signin" method="POST">
        <h1 class="mb-5 font-weight-light text-uppercase">Ingresar</h1>
        <div class="form-group">
            <input type="text" class="form-control rounded-pill form-control-lg" placeholder="Usuario" name="name"
                value="{{name}}">
        </div>
        <div class="form-group">
            <input type="password" class="form-control rounded-pill form-control-lg" placeholder="Contraseña"
                name="password">
        </div>
        <div class="forgot-link d-flex align-items-center justify-content-between">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" name="" id="remember">
                <label for="remember">Recordar Contraseña</label>
            </div>
            <a href="#">¿Olvidaste tu contraseña?</a>
        </div>
        <button type="submit" class="btn mt-5 btn-primary btn-block text-uppercase rounded-pill btn-lg">Iniciar
            Sesion</button>
        <p class="mt-3 font-weight-normal">¿No estas registrado? <a href="/users/signup"><strong> Hazlo
                    Aqui!</strong></a></p>
    </form>
</div>